#login{

    /* background-image: url(""); */
margin-top: 2%;
margin-bottom: 10%; 
margin-right: 500px;
margin-left: 600px;
width: 520px;
}
nav{
    margin-right: 600px;
    margin-left: 600px; 
}

